.about-bg
  margin: 20px 0 20px 0
  width: 100%
  min-height: 80vh
  background-image: url(/assets/img/about-bg.jpg)
  background-size: cover
  background-position: center center

.about-text-sidebar
  min-height: inherit
  background: linear-gradient(rgba(255, 102, 253,0.8), rgba(255, 102, 253,0.8))
  h2
    text-align: center

.social-wrapper
  padding: 10px
  text-align: center
  a
    display: inline-block
    width: 50px
    height: 50px
