.contact
  margin: 20px 0 20px 0
  color: white
  h3
    color: #ff00ff

.contact-sidebar
  background-color: #666666

.actions
  input
    color: black
    font-weight: bold
    text-transform: uppercase
    font-size: 1.5em
    border: 0
    border-radius: 10px
    padding: 5px 20px 5px 20px
    background-color: #ff00ff
    &:hover
      background-color: #FE7EFE
