.footer
  background-color: #82CAD8
  text-align: center
  font-size: 1.2rem
  padding: 4rem
  p
    &.slogan
      font-size: 1.8rem
      margin: 0 0 1rem
    &.copywrite
      font-size: 0.875rem
      margin: 0
  .links a
    list-style: none
    font-weight: bold
    color: #FF00FF
    padding: 3rem 0 2rem
    margin: 0
    &:hover
      color: #FF00AA
    &::after
      content: "•"
      padding: 0 0.4rem 0 0.8rem
    &:last-child::after
      content: ""
      padding: 0 0.4rem 0 0.8rem
