.slider-wrapper
  margin: 0
  padding: 0
  width: 100%

@include breakpoint(small only)
  .sp-image
    margin: 0
    padding: 0
  .sp-buttons
    display: none

// .portfolio-row
//   margin: 2rem 0 2rem 0

// .portfolio-nav
//   ul
//     list-style-type: none
//     font-size: 36px
//     text-align: center
//     li
//       display: inline
//       background-color: thistle
//       text-transform: uppercase
//       box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//       margin: 5px
//       padding: 5px
//       &:hover
//         cursor: pointer
//         background-color: lighten(thistle, 90)
//
// .portfolio-tile1
//   img
//     width: 400px
//     height: 400px
//     background-image: url(/assets/img/bridal-bg.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.8)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// .portfolio-tile2
//   img
//     width: 400px
//     height: 400px
//     background-image: url(/assets/img/pinup-bg.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.85)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// .portfolio-tile3
//   img
//     width: 400px
//     height: 400px
//     background-image: url(/assets/img/marketing-bg.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.8)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// .portfolio-tile4
//   img
//     width: 400px
//     height: 400px
//     background-image: url(http://www.makeupbycg.com/img/big_img72.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.8)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// .portfolio-tile5
//   img
//     width: 400px
//     height: 400px
//     background-image: url(/assets/img/editorial-bg.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.8)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// .portfolio-tile6
//   img
//     width: 400px
//     height: 400px
//     background-image: url(/assets/img/other-bg.jpg)
//     background-position: top
//     background-repeat: no-repeat
//     background-size: cover
//     font-size: 0
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//     filter: grayscale(.8)
//     &:hover
//       filter: grayscale(0)
//       cursor: pointer
//   h4
//     font-size: 36px
//     text-align: center
//     background-color: thistle
//     text-transform: uppercase
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
//
// // .hide-section
// //   display: none
