
<section id="about">
  <div class="row">
    <div class="small-12 columns about-bg">
      <div class="small-5 columns float-left about-text-sidebar"> 
        <h2 class="about-name">Christen Gundersen</h2>
        <p class="about-text">I am a Navy wife and mother of four (and one on the way), two are boys and the other two are furry kids, a cat and black lab. I am originally from Southern Maine but my husband is active duty and transferred to Groton, Ct in 2010. I have been so blessed here and have made some great friends. In my spare time I love to upcycle items I find at flea markets, thrift shops and yard sales, you can see some of some of the fun finds I have come across for my studio throughout the site. I also love fashion and the latest trends which generally leads me to be a huge shopaholic! I am so happy to finally be living my dream of being a full time Makeup Artist. I recently opened my studio and am a fully licensed cosmetology establishment in the state (I can also do on location work). I find a little makeup can really build someone’s confidence and those are the moments when I love my job the most.</p>
        <div class="social-wrapper"><a href="https://www.facebook.com/MakeupbyCG" title="Facebook">
            <div class="facebook-team"><i class="fi-social-facebook"></i></div></a><a href="https://twitter.com/makeupbycg" title="Twitter">
            <div class="twitter-team"><i class="fi-social-twitter"></i></div></a><a href="http://www.instagram.com/makeupbychristengundersen/" title="Instagram">
            <div class="instagram-team"><i class="fi-social-instagram"></i></div></a><a href="#" title="LinkedIn">
            <div class="linkedin-team"><i class="fi-social-linkedin"></i></div></a></div>
        <p class="credits"><a href="http://tracyharveyphotography.com">Photo Credit Tracy Harvey Photography</a></p>
      </div>
    </div>
  </div>
</section>