
<section id="portfolio">
  <div class="row">
    <div class="small-12 columns">
      <div class="row portfolio-row">
        <div class="small-4 columns portfolio-tile1"><a href="#"><img alt="Bridal Portfolio Category Image"/>
            <h4>Bridal</h4></a></div>
        <div class="small-4 columns portfolio-tile2"><a href="#"><img alt="Pin Up Portfolio Category Image"/>
            <h4>Pin Up</h4></a></div>
        <div class="small-4 columns portfolio-tile3"><a href="#"><img alt="Marketing Portfolio Category Image"/>
            <h4>Marketing</h4></a></div>
      </div>
      <div class="row portfolio-row">
        <div class="small-4 columns portfolio-tile4"><a href="#"><img alt="Special Effects Portfolio Category Image"/>
            <h4>Special FX</h4></a></div>
        <div class="small-4 columns portfolio-tile5"><a href="#"><img alt="Editorial Portfolio Category Image"/>
            <h4>Editorial</h4></a></div>
        <div class="small-4 columns portfolio-tile6"><a href="#"><img alt="Other Portfolio Category Image"/>
            <h4>Other</h4></a></div>
      </div>
    </div>
  </div>
</section>