
<section id="portfolio">
  <div class="row">
    <div class="small-12 columns slider-wrapper">
      <div id="slider" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-1.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-1.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-2.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-2.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-3.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-3.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-4.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-4.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-5.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-5.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-6.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-6.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-7.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-7.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-8.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-8.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-9.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-9.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-10.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-10.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-11.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-11.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-12.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-12.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-13.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-13.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-16.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-16.jpg" class="sp-thumbnail lazyOwl"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-18.jpg" class="sp-image lazyOwl"/><img src="/assets/img/slideshow/slide-18.jpg" class="sp-thumbnail lazyOwl"/></div>
        </div>
      </div>
    </div>
  </div>
</section>