
<section id="portfolio">
  <div class="row">
    <div class="small-12 columns slider-wrapper">
      <div id="slider" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-1.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-1.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-2.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-2.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-3.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-3.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-4.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-4.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-5.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-5.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-6.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-6.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-7.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-7.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-8.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-8.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-9.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-9.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-10.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-10.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-11.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-11.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-12.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-12.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-13.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-13.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-14.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-14.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-15.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-15.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-16.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-16.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-17.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-17.jpg" class="sp-thumbnail"/></div>
          <div class="sp-slide"><img src="/assets/img/blank.gif" data-src="/assets/img/slideshow/slide-18.jpg" class="sp-image"/><img src="/assets/img/slideshow/slide-18.jpg" class="sp-thumbnail"/></div>
        </div>
        
        
        
        
        
      </div>
    </div>
  </div>
</section>
<!--old build tiles
//- .small-12.columns
//-   .portfolio-nav
//-     ul.no-bullet
//-       li(data-id='1') Bridal
//-       li(data-id='2') Pin Up
//-       li(data-id='3') Marketing
//-       li(data-id='4') Special FX
//-       li(data-id='5') Editorial
//-       li(data-id='6') Other
//-   .portfolio-categories
//-     .row.portfolio-row
//-       .small-4.columns.portfolio-tile1.select(data-id='1')
//-         img(alt='Bridal Portfolio Category Image')
//-         h4 Bridal
//-       .small-4.columns.portfolio-tile2.select(data-id='2')
//-         img(alt='Pin Up Portfolio Category Image')
//-         h4 Pin Up
//-       .small-4.columns.portfolio-tile3.select(data-id='3')
//-         img(alt='Marketing Portfolio Category Image')
//-         h4 Marketing
//-     .row.portfolio-row
//-       .small-4.columns.portfolio-tile4.select(data-id='4')
//-         img(alt='Special Effects Portfolio Category Image')
//-         h4 Special FX
//-       .small-4.columns.portfolio-tile5.select(data-id='5')
//-         img(alt='Editorial Portfolio Category Image')
//-         h4 Editorial
//-       .small-4.columns.portfolio-tile6.select(data-id='6')
//-         img(alt='Other Portfolio Category Image')
//-         h4 Other
-->