section#about
  .row
    .small-12.columns.about-bg
      .small-12.medium-5.columns.float-left.about-text-sidebar  
        h2.about-name Christen Gundersen
        p.about-text <strong>Certified Makeup Artist and Esthetician</strong>
        p.about-text An experienced makeup artist located in Southeastern Ct area. She has worked with different photographers, models, art directors, fashion designers and stylists to understand the demand of the industry. In her free time she loves to spend time with her husband and children! 
        
        p.about-text <strong>Education</strong>
          ul
            li.about-text 15+ Years Work Experience
            li.about-text Brio Cosmetology School
            li.about-text The Val Garland School of Makeup, Mastered program
        p.about-text <strong>Published Work</strong>
          ul
            li.about-text Delicious Dolls - 
                a(href='/assets/img/work/ts-dec14.jpg' target="_blank") Dec 2014, 
                a(href='/assets/img/work/ts-oct15.jpg' target="_blank")  Oct, 
                a(href='/assets/img/work/ts-nov15.jpg' target="_blank") Nov, 
                a(href='/assets/img/work/ts-dec15.jpg' target="_blank") Dec 2015
            li.about-text Elaine Magazine - 
                a(href='/assets/img/work/ts-nov15elaine.jpg' target="_blank") Nov 2014 
            li.about-text Budo International Martial Art Magazine - 
              a(href='http://issuu.com/budoweb/docs/martial_arts_magazine_budo_internat_b780e8745b1606' target="_blank") June 2014 
                              
        .social-wrapper
          a(href='https://www.facebook.com/MakeupbyCG', title='Facebook' target="_blank")
            .facebook-team
              i.fi-social-facebook
          a(href='https://twitter.com/makeupbycg', title='Twitter' target="_blank")
            .twitter-team
              i.fi-social-twitter
          a(href='http://www.instagram.com/makeupbychristengundersen/', title='Instagram' target="_blank")
            .instagram-team
              i.fi-social-instagram
          a(href='https://www.linkedin.com/in/christen-gundersen-3007a463', title='LinkedIn' target="_blank")
            .linkedin-team
              i.fi-social-linkedin
        p.credits.show-for-medium
          a Photo Credit Tracy Harvey Photography
        
