section#contact
  .row
    .small-12.columns.contact
      h3 I AM EXCITED TO HEAR ABOUT YOUR NEXT PROJECT
      hr
      .small-8.small-push-1.columns
        h4 Contact Form
        p Please send me a message if you have any questions, comments or feedback. I always look forward to meeting others and enjoy feedback! - CG
        .small-12.columns
          form(name="contact-form", method="post")
              div.input
                  input(type="text", name="Name", placeholder="Name" required)
              div.input
                  input(type="email", name="Email", placeholder="Email" required)
              div.input
                  input(type="tel", name="Telephone", placeholder="Telephone")
              div.input
                  input(type="text", name="Subject", placeholder="Subject" required)
              div.input
                  textarea(name="Message", placeholder="Send your love!", cols="40", rows="5" required)
              div.actions.float-right
                  input(type="submit", value="Submit")
      .small-3.columns.contact-sidebar
        h4 Contact Information
        p Telephone 207-671-9918
        p Email cg@makeupbycg.com
