footer.footer
  .row
    .small-12.columns
      p.slogan Makeup by CG
      p.links
        a(href='index.html') Home
        a(href='#about') About
        a(href='#portfolio') Portfolio
        a(href='#') Blog
        a(href='#contact') Contact
      p.copywrite Copywrite © 2015 Makeup by CG, LLC
