footer.footer
  .row
    .small-12.columns
      p.slogan Makeup By CG
      p.links
        a(href='#') Home
        a(href='#') Blog
        a(href='#') Pricing
        a(href='#') About
        a(href='#') Faq
        a(href='#') Contact
      p.copywrite Copywrite not copypwrite © 2015
