.row.full-width-row
  //- video(poster='poster.png', autoplay='true', loop='' muted)
  //-   //- source(src='http://downloads.webmproject.org/media/video/webmproject.org/big_buck_bunny_trailer_480p_logo.webm', type='video/mp4')
  //-   source(src='.....', type='video/webm')
  .hero-bg
    .hero-text
      h1.title Makeup By CG
      h2.title-name Christen Gundersen
  section.down-arrow
    a(href="#about")
      svg(viewbox='0 0 26 16')
        polyline(fill='none', stroke='#FE7EFE', stroke-width='2', points='24.9,1.5 13,13.4 1.1,1.5 ')
