section#portfolio
  .row
    .small-12.columns.slider-wrapper
      #slider.slider-pro
        .sp-slides
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-1.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-1.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-2.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-2.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-3.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-3.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-4.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-4.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-5.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-5.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-6.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-6.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-7.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-7.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-8.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-8.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-9.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-9.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-10.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-10.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-11.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-11.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-12.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-12.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-13.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-13.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-16.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-16.jpg')
          .sp-slide
            img.sp-image.lazyOwl(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-18.jpg')
            img.sp-thumbnail.lazyOwl(src='/assets/img/slideshow/slide-18.jpg')
