section#portfolio
  .row
    .small-12.columns.slider-wrapper
      #slider.slider-pro
        .sp-slides
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-1.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-1.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-2.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-2.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-3.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-3.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-4.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-4.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-5.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-5.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-6.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-6.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-7.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-7.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-8.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-8.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-9.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-9.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-10.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-10.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-11.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-11.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-12.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-12.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-13.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-13.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-14.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-14.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-15.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-15.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-16.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-16.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-17.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-17.jpg')
          .sp-slide
            img.sp-image(src='/assets/img/blank.gif', data-src='/assets/img/slideshow/slide-18.jpg')
            img.sp-thumbnail(src='/assets/img/slideshow/slide-18.jpg')            
        
            
          //-   p.sp-layer.sp-white.sp-padding(data-horizontal='50', data-vertical='50', data-show-transition='left', data-show-delay='400')
          //-     | Lorem ipsum
          //-   p.sp-layer.sp-black.sp-padding(data-horizontal='180', data-vertical='50', data-show-transition='left', data-show-delay='600')
          //-     | dolor sit amet
          //-   p.sp-layer.sp-white.sp-padding(data-horizontal='315', data-vertical='50', data-show-transition='left', data-show-delay='800')
          //-     | consectetur adipisicing elit.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image2_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image2_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image2_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image2_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image2_large.jpg')
          //-   h3.sp-layer.sp-black.sp-padding(data-horizontal='40', data-vertical='40', data-show-transition='left')
          //-     | Lorem ipsum dolor sit amet
          //-   p.sp-layer.sp-white.sp-padding(data-horizontal='40', data-vertical='100', data-show-transition='left', data-show-delay='200')
          //-     | consectetur adipisicing elit
          //-   p.sp-layer.sp-black.sp-padding(data-horizontal='40', data-vertical='160', data-width='350', data-show-transition='left', data-show-delay='400')
          //-     | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image3_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image3_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image3_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image3_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image3_large.jpg')
          //-   p.sp-layer.sp-white.sp-padding(data-position='centerCenter', data-vertical='-50', data-show-transition='right', data-show-delay='500')
          //-     | Lorem ipsum dolor sit amet
          //-   p.sp-layer.sp-black.sp-padding(data-position='centerCenter', data-vertical='50', data-show-transition='left', data-show-delay='700')
          //-     | consectetur adipisicing elit
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image4_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image4_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image4_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image4_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image4_large.jpg')
          //-   p.sp-layer.sp-black.sp-padding(data-position='bottomLeft', data-vertical='0', data-width='100%', data-show-transition='up')
          //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image5_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image5_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image5_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image5_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image5_large.jpg')
          //-   p.sp-layer.sp-white.sp-padding(data-vertical='5%', data-horizontal='5%', data-width='90%', data-show-transition='down', data-show-delay='400')
          //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image6_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image6_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image6_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image6_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image6_large.jpg')
          //-   p.sp-layer.sp-white.sp-padding(data-horizontal='10', data-vertical='10', data-width='300')
          //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image7_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image7_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image7_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image7_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image7_large.jpg')
          //-   p.sp-layer.sp-black.sp-padding(data-position='bottomLeft', data-horizontal='5%', data-vertical='5%', data-width='90%', data-show-transition='up', data-show-delay='400')
          //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image8_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image8_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image8_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image8_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image8_large.jpg')
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image9_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image9_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image9_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image9_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image9_large.jpg')
          //-   p.sp-layer.sp-black.sp-padding(data-horizontal='50', data-vertical='50', data-show-transition='down', data-show-delay='500')
          //-     | Lorem ipsum dolor sit amet
          //-   p.sp-layer.sp-white.sp-padding(data-horizontal='50', data-vertical='100', data-show-transition='up', data-show-delay='500')
          //-     | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          //- .sp-slide
          //-   img.sp-image(src='../src/css/images/blank.gif', data-src='http://bqworks.com/slider-pro/images/image10_medium.jpg', data-small='http://bqworks.com/slider-pro/images/image10_small.jpg', data-medium='http://bqworks.com/slider-pro/images/image10_medium.jpg', data-large='http://bqworks.com/slider-pro/images/image10_large.jpg', data-retina='http://bqworks.com/slider-pro/images/image10_large.jpg')
        //- .sp-thumbnails
        //-   img.sp-thumbnail(src='/assets/img/slideshow/slide-1.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image2_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image3_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image4_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image5_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image6_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image7_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image8_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image9_thumbnail.jpg')
        //-   img.sp-thumbnail(src='http://bqworks.com/slider-pro/images/image10_thumbnail.jpg')






//old build tiles
              //- .small-12.columns
              //-   .portfolio-nav
              //-     ul.no-bullet
              //-       li(data-id='1') Bridal
              //-       li(data-id='2') Pin Up
              //-       li(data-id='3') Marketing
              //-       li(data-id='4') Special FX
              //-       li(data-id='5') Editorial
              //-       li(data-id='6') Other
              //-   .portfolio-categories
              //-     .row.portfolio-row
              //-       .small-4.columns.portfolio-tile1.select(data-id='1')
              //-         img(alt='Bridal Portfolio Category Image')
              //-         h4 Bridal
              //-       .small-4.columns.portfolio-tile2.select(data-id='2')
              //-         img(alt='Pin Up Portfolio Category Image')
              //-         h4 Pin Up
              //-       .small-4.columns.portfolio-tile3.select(data-id='3')
              //-         img(alt='Marketing Portfolio Category Image')
              //-         h4 Marketing
              //-     .row.portfolio-row
              //-       .small-4.columns.portfolio-tile4.select(data-id='4')
              //-         img(alt='Special Effects Portfolio Category Image')
              //-         h4 Special FX
              //-       .small-4.columns.portfolio-tile5.select(data-id='5')
              //-         img(alt='Editorial Portfolio Category Image')
              //-         h4 Editorial
              //-       .small-4.columns.portfolio-tile6.select(data-id='6')
              //-         img(alt='Other Portfolio Category Image')
              //-         h4 Other
