section#portfolio
  .row
    .small-12.columns
      .row.portfolio-row
        .small-4.columns.portfolio-tile1
          a(href='#')
            img(alt='Bridal Portfolio Category Image')
            h4 Bridal
        .small-4.columns.portfolio-tile2
          a(href='#')
            img(alt='Pin Up Portfolio Category Image')
            h4 Pin Up
        .small-4.columns.portfolio-tile3
          a(href='#')
            img(alt='Marketing Portfolio Category Image')
            h4 Marketing
      .row.portfolio-row
        .small-4.columns.portfolio-tile4
          a(href='#')
            img(alt='Special Effects Portfolio Category Image')
            h4 Special FX
        .small-4.columns.portfolio-tile5
          a(href='#')
            img(alt='Editorial Portfolio Category Image')
            h4 Editorial
        .small-4.columns.portfolio-tile6
          a(href='#')
            img(alt='Other Portfolio Category Image')
            h4 Other
      
    
